<div class="modal fade" id="modalsedam" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-large">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Relatório de Áreas Protegidas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p  class="alert alert-info border border-0">Informe o ano e Município</p>
        <%= search_form_for @q, url: relatorios_sedam_path, html: { class: "d-flex gap-2" , autocomplete: "off"} do |f| %>
          <div class="row">
            <div class="col-lg-12 col-xl-4">
              <label for="" class="col-form-label ">Ano</label>
              <%= f.search_field :ano_lteq, { class: "form-control"} %>
            </div>
            <div class="col-lg-12 col-xl-8">
              <label for="" class="col-form-label ">Município:</label>
              <%= f.select :g_municipio_id_eq, options_for_select(GMunicipio.pluck(:descricao, :id), params.dig(:q, :g_municipio_descricao_eq)), { include_blank: true }, { class: "form-control select2" } %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.button(type: 'submit', class: 'btn btn-primary', target: '_blank') { tag.i(class: 'ph-file-pdf') }%>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
   $('#modalsedam').on('shown.bs.modal', function () {
     $('.select2').select2({
       placeholder: "Selecione uma opção",
       allowClear: true,
       width: '100%',
       dropdownParent: $('#modalsedam'),
     });
   });
  });
</script>