<% if usuario_seduc %>
  <style>
    .content {
      padding: 0 !important;
      background: #fff;
    }
    .iframe-container {
      position: relative;
      width: 100%;
      padding-bottom: 200%;
    }
    .iframe-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  </style>
  <%= render "shared/notice" %>
  <%# <p class="alert alert-secondary">Ambiente de Homologação.</p> %>
  <div class="iframe-container">
    <iframe
    src="https://observatorio.seduc.ro.gov.br/public/dashboard/ab779c37-1a81-4663-b554-1e93ac56d06e"
    frameborder="0"
    allowtransparency>
    </iframe>
  </div>
<% end %>
<%= render "shared/notice" %>
