<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinição de Senha SGIS</title>
    <style>
      /* Reset de estilos para garantir consistência */
      body,
      h1,
      p {
        margin: 0;
        padding: 0;
      }

      /* Estilo do corpo do e-mail */
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
      }

      .container {
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      h1 {
        font-size: 24px;
        margin-bottom: 20px;
        text-align: center;
      }

      p {
        font-size: 16px;
        margin-bottom: 20px;
      }

      .btn {
        display: inline-block;
        max-width: 150px;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff !important;
        text-decoration: none;
        border-radius: 5px;
      }

      .img {
        max-width: 200px;
        margin: 20px auto;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .btn:hover {
        background-color: #0056b3;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <img src="https://gestao.seduc.ro.gov.br/layout/assets/img/rh.png", class="img">
      <h1>Olá <%= @resource.nome %></h1>
      <h2>Redefinição de senha - SGIS</h2>
      <p>Recebemos uma solicitação de redefinição de senha para sua conta. Caso não tenha solicitado, por favor, ignore este e-mail.</p>
      <p>Para prosseguir com a redefinição da sua senha, clique no botão abaixo:</p>
      <%= link_to 'Redefinir Senha', edit_password_url(@resource, reset_password_token: @token), class: 'btn' %>
      <p>Se o botão acima não funcionar, você também pode copiar e colar o seguinte link em seu navegador:</p>
      <p><%= edit_password_url(@resource, reset_password_token: @token) %></p>
      <p> este link é válido por apenas 15 minutos.</p>
      <p>Atenciosamente,<br>
        Equipe SGIS</p>
    </div>
  </body>
</html>